<div class="navBar">
    <nav class="navbar ">
        <div class="container-fluid">
          <span >Nordea Bank</span>
          <!-- string interpolation -->
          <h3 style="color:black">{{aim}}</h3>

        </div>
      </nav>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h2 class="mt-4 mb-4 text-center">Log in</h2>
                <form action="" class="border border-dark bg-light p-5">
                    <!-- property binding - syntax--- []="" -->
                    <!--event binding using $event  -->
                    <input type="text" [placeholder]="accno" (change)="get_acno($event)"   class="form-control mt-2" id="log_acno">
                    <input type="password" placeholder="Password"  (change)="get_psw($event)"   class="mt-2 form-control " id="log_psw">
                    <div class="d-grid gap-2">
                        <!-- event binding(click)="function" -->
                        <button type="button" (click)="logIn()"  class="btn btn-primary mt-4 form-control ">Log In</button>
                    </div>
                    <div><p>Not a user?<a href="">Register</a> </p> </div>

                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>